<?php

// The following variable should be the URL of your affiliates' logon screen.

$affiliate_base = 'http://www.example.com/affiliates';

// The following secret is used to secure communications between the shopping
// cart and the affiliate system.  If you want to enable the dummy cart, make
// this value the same as the one in the main config.inc file.  If you do not
// want to use the dummy cart, DO NOT SET THIS VALUE, or people could use the
// dummy cart to inject fake orders into the system.

$rpc_secret = 'changeme';
