<IfModule mod_php5.c>
  php_flag magic_quotes_gpc off
  php_flag magic_quotes_runtime off
  php_flag magic_quotes_sybase off
  php_flag short_open_tag off
</IfModule>

RewriteEngine off
AddOutputFilterByType DEFLATE application/x-javascript text/css

DirectoryIndex index.php
