php_flag magic_quotes_gpc off
php_flag magic_quotes_runtime off
php_flag magic_quotes_sybase off
php_flag short_open_tag off

RewriteEngine off
AddOutputFilterByType DEFLATE application/x-javascript text/css
